:root {
    --color1: #091c29;
    --color2: #13678A;
    --color3: #45c493;
    --color4: #895d20;
    --color5: #fcc567;
    --color6: #ffffff;
}

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-family: monospace, sans-serif;
    font-size: clamp(1rem, 0.60rem + 0.5vw, 2rem);
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    color: var(--color6);
    height: 100vh;
    background-image: url("assets/img/old_town.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: clamp(300px, 60%, 900px);
    gap: 20px;
    flex-wrap: wrap;
}

button {
	font-family: inherit;
	font-size: clamp(1rem, 0.70rem + 0.5vw, 2rem);
    font-weight: bold;
	margin: 10px 0 10px 0;
    width: clamp(70px, 20%, 100px);
    aspect-ratio: 1 / 1;
    color: var(--color1);
    background-color: var(--color5);
    border-radius: 2px;
    border: 1px solid var(--color4);
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: inset 0px 0px 3px 4px var(--color4);
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-size: 1.3rem;
    text-align: center;
}

#content {
    margin: 0 auto;
    padding-bottom: 30px;
    width: clamp(300px, 60%, 900px);
}

.background {
    background-color: var(--color1);
    padding: 10px 20px;
    margin: 0 0 30px;
}

.background > img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.background > p {
    max-inline-size: 66ch;
    margin-right: auto;
    margin-left: auto;
}

.hours, 
.location {
    text-align: center;
}

.entry {
    display: flex;
    justify-content: space-between;
}

.entry-description {
    padding-left: 30px;
    margin: 0;
}